p {
  display: flex;
  position: relative;
  float: right;
  font-family: 'Wing Dings';
  font-size: 20px;
  color: darkblue;
  /* position: relative; */
  /* text-indent: 20px; */
  margin: 10px;
  justify-content: center;
  }

h1 {
  text-align: center;

}

h2 {
  color: rgb(1, 103, 143);
  font-family: Comic;
  text-align: center;
  }

body {
  background-image: linear-gradient(to right top,
   #aca79e, #bba987, #caaa70, #d8aa58, #e7aa3d);
   height: 100%;
   margin: 0;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
.title {
  color: aquamarine;
  }
  
.uppercase {
  text-transform: uppercase;
  }

.professional {
  position: fixed;
  bottom: 0px;
  left: 0px;
  float: right;
  margin: 10px;
  }

.img_left {
  /* position: fixed; */
  bottom: 0px;
  left: 0px;
  margin: 10px;
  float: left;
  }
  
.img_right {
  /* position: fixed; */
  /* top: 0px; */
  right: 0px;
  margin: 10px;
  float: right;
  }

.cartoon {
  /* position: fixed; */
  bottom: 0px;
  left: 0px;
  margin: 10px;
  float: left;

  }



.img_generic {
  float: left;
  position: relative;
}
#biography {

}

#nerdstuff {

}